---
layout: white_default
accordions:
  - accordion_title: INTEGRATED MANAGEMENT SYSTEMS FOR FACTORIES
    message: >-
      <!--StartFragment-->


      Wai Automation was founded in 2023  as a partnership of professionals that had decades of experience and a vision of an industrial automated future. 


      We offer our services as systems integrators, developing and building innovative installations in different technology sectors. A detailed preliminary engineering, followed by an accurate and careful implementation, allowed us to solve and harmonized organizational and production problems with the subsequent industrial costs optimization.


      The experience gained by looking after the management and coordination of projects, together with important engineering groups, makes Wai Automation  a reliable partner and able to guarantee quality and project deadlines.


      ##### Our experiences:


      Existing experience, gained especially in sectors as agribusiness, energy, chemical, pharmaceutical, steel, and manufacturing, includes projects in these service areas:


      * Discrete, batch and continuous process control systems

      * Products handling, logistics and end-line facilities with realization of automated warehouses

      * Vision systems (failed items analysis, quality checks etc.)

      * Production batches tracking and tracing systems

      * Energy management and distributing systems


      <!--EndFragment-->
  - accordion_title: EASY TO USE ROBOTIZED SYSTEMS
    message: >-
      <!--StartFragment-->


      The jewel in the crown of the robotized systems designed by  WAI Automation is their extreme ease of use. 


      The company’s primary objective is, in fact, precisely that of offering customers particularly practical and efficient solutions that can be used in total safety and with utmost reliability by in-house personnel. To achieve this result, the robotized islands are equipped with a specific simplified robot-guided MVPRO application that allow the company management software to be integrated with the high automation machinery in a simpler, more intuitive and faster manner.


      <!--EndFragment-->
  - accordion_title: The strategic partner for the consultancy and design of
      robotized systems, vision systems and industrial automation software.
    message: >-
      <!--StartFragment-->


      Continuous technical and technological updating. Constant search for increasingly efficient and high performing solutions. Profound knowledge of the customer’s needs. 


      Specialised experience in many fields of application. WAI Automation is a strategic partner for machinery manufacturers and end customers that want to develop totally customized technological solutions. Our industrial robotic automation systems are currently already in operation in over 20 countries around the world.


      <!--EndFragment-->
greetings: Welcome on the site of  WAI Automation
headline_text: Specialised technological consultancy for the design of automatic
  machinery, robotized islands and management systems for industrial robotic
  automation.
presentation: >-
  <!--StartFragment-->


  W﻿ai Automation is specialised in the design and construction of turn-key solutions for industrial robotic automation. 


  We have been supplying plant manufacturers and end customers advanced technologies to increase and improve production capacity thanks to the development of integrated systems and latest-generation management software. Ease of use, total integration and flexibility are the key elements distinguishing all of our executions. 


  <!--EndFragment-->
main_image: /assets/images/uploads/whatsapp-image-2023-09-07-at-09.59.03.jpeg
main_image_alt_text: tarso festoso
title: About Us
---

{% include page_header.html %}

<section class="about-us-content pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="{{ page.main_image }}" alt="{{ page.main_image_alt_text }}" />
                </figure>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                <h5 class="text-uppercase">{{ page.greetings }}</h5>
                <h2><strong>{{ page.headline_text }}</strong></h2>
                <p>{{ page.presentation | markdownify }}</p>
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
        
        <div class="clearfix"></div><!--  /.clearfix -->
        <div class="pd-tb-30"></div><!--  /.pd-tb-45 -->

        <div class="row">
            <div class="col-md-6">
                <div id="accordion" class="accordion">
                    <div class="card">

                    {% for accordion in page.accordions %}
                        <div class="card-header">
                            <a class="card-title {% if forloop.index0 > 0 %}collapsed{% endif %}" href="#collapse{{ forloop.index }}" data-toggle="collapse" data-parent="#accordion"{% if forloop.index0 == 0 %}aria-expanded="true"{% endif %}>
                                {{ accordion.accordion_title }}
                            </a>
                        </div>
                    <div id="collapse{{ forloop.index }}" class="card-block collapse {% if forloop.index0 == 0 %}show{% endif %}">
                            <p>{{ accordion.message | markdownify }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                {% include skills_progress.html %}
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.about-us-content -->

{% comment %} {% include our_team.html %} {% endcomment %}
