---
layout: white_default
title: "Contacts"
---

{% include page_header.html %}
<section class="contact-content pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="contact-form-area">
                 <form name="contatti" action="{{ site.form_action_url }}" data-netlify="true" method="post" id="contactForm" class="contact-form">
                        <div class="row">
                            <div class="col-12">
                                <label for="name">Name (mandatory)</label>
                                <input id="name" name="full_name" type="text" class="validate" placeholder="Name" required/>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <label for="email">Email (mandatory)</label>
                                <input id="email" name="user_email" type="email" class="validate" placeholder="Email" required/>
                            </div>
                            <div class="col-md-6">
                                <label for="subject">Subject</label>
                                <input id="subject" name="subject" type="text" class="validate" placeholder="Email subject" required/>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-12">
                                <label for="messege">Your message</label>
                                <textarea id="messege" name="message" class="bsm-textarea" cols="8" rows="40" placeholder="Write down here"></textarea>
                            </div>
                            <div class="col-12 mrt-30">
                                <button class="btn-contact" type="submit">Submit</button>
                                <p class="input-success alert alert-success">We have received your email. We will get back to you as soon as possible</p>
                                <p class="input-error alert alert-danger">Sorry, due to an error the message was not sent.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact-details-content">
                    <div class="contact-list">
                        <h4 class="title"><i class="fa fa-map-marker"></i> Address</h4>
                        <p>{{ site.data.general.address }}</p>
                        <a href="{{ site.data.general.address_gmaps_link }}">See on Google Maps</a>
                    </div>
                    <div class="contact-list">
                        <h4 class="title"><i class="fa fa-phone"></i>Phone</h4>
                        <p>{{ site.data.general.phone_number }}</p>
                    </div>
                    <div class="contact-list">
                        <h4 class="title"><i class="fa fa-envelope"></i>Email</h4>
                        <p>{{ site.data.general.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Google Maps
================================================== -->
<div class="google-maps-content">
    <div class="map-left-content">
        <iframe height="350" src="{{ site.data.general.address_gmaps_iframe_link }}" allowfullscreen="allowFullscreen" loading="lazy"></iframe>
    </div>
</div> 
<!--  /.google-maps-content -->