---
layout: white_default
title: "Richiesta inviata con successo"
---
<div class="container d-flex justify-content-center align-items-center p-4 m-4">
    <div class="d-flex flex-column text-center">
        <h2>Request sent successfully</h2>
        <p>We will get back to you as soon as possible</p>
        <a href="javascript:history.back()">Go back to previous page</a>
    </div>

</div>