---
layout: white_default
title: "Projects"
description: ""
---

<section class="page-header bg-snow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="first-item">
                        <a href="{{site.url}}">Home</a>
                    </span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="last-item">{{page.title}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="section-title center-title">{{page.title}}</h2>
                <p class="section-subtitle">{{page.description}}</p>
            </div>
            <div class="col-md-12">
                {% include portfolio_categories_filter.html %}
            </div>
        </div>
    </div>
</section>

<section class="portfolio-block pd-t-60-b-90">
    <div class="container">
        <div class="row">
            {% include portfolio_grid.html %}
        </div>
    </div>
</section>