---
our_services_title: Our services
layout: white_default
little_title: SERVICES
headline: Software development and industrial automation consulting
request_estimation_title: Request a quote for a project
title: Services
working_process_title: Working process
hint_project_description: Write down what you want to accomplish
description: >-
  <!--StartFragment-->


  Wai Automation as system integrator supplies integrated solutions, covering all activities from the engineering to software development to users training. All projects are designed and studied based on the client's objectives, aimed both at a more effective production process (inefficiencies reduction) and at better working conditions using simple and straightforward interfaces, as the main focus of each project 


  <!--EndFragment-->
---

{% include page_header.html %}

<section class="service-content pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase">{{ page.little_title }}</h5>
                <h3><strong>{{ page.headline }}</strong></h3>
                <p>{{ page.description | markdownify }}</p>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                {% include skills_progress.html %}
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.about-us-content -->

<!-- Working Progress Block
================================================== -->
<section class="work-in-progress bg-snow pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">{{ page.working_process_title }}</h2>
            </div>
        </div>

        

        <div class="row">
            {% for step in site.working_process %}
                <div class="process-item">
                    <h2 class="process-serial">0{{ forloop.index }}</h2>
                    <div class="process-box">
                        <h3 class="process-title">{{ step.process_title }}</h3>
                        <p>{{ step.process_short_desc | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Our Service Block
================================================== -->
<section class="our-service pd-tb-90 bg-snow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">{{ page.our_service_title }}</h2>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->

        <div class="row">
            {% include features.html %}
        </div>
    </div>
</section>

<!-- Project Submission Block
================================================== -->
<section class="projection-submission pd-t-90 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">{{ page.request_estimation_title }}</h2>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="pd-tb-45"></div>

        <div class="project-form-content">
            <form name="richiesta_progetto" data-netlify="true" action="{{ site.form_action_url }}" class="project-form row" method="post" enctype="multipart/form-data">
                <div class="col-md-6">
                    <div>
                        <input id="project-name" name="project-name" type="text" class="project-input" placeholder="Project Name *" required/>
                        <input id="client-email" type="email" name="client-email" class="project-input" placeholder="Email *" required/>
                        <input id="name" type="text" name="project-category" class="project-input" placeholder="Project Category"/>
                    </div>
                    <textarea name="project-descrition" id="project-details" cols="30" rows="10" placeholder="Project Description"></textarea>
                </div>
                <div class="col-md-6">

                {% for condition in site.project_estimation_request_conditions %}
                    <div class="condition-list">
                        <span class="condition-serial">0{{ forloop.index }}</span>
                        <p>{{ condition.message }}</p>
                    </div>
                {% endfor %}

                </div>
                <div class="col-md-12">
                    <div class="condition-list mrt-30">
                        <span class="condition-serial"><i class="fa fa-info"></i></span>
                        <p>{{ page.hint_project_description }}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button class="project-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

