---
layout: white_default
title: Work with us
opened_positions_claim: Opened positions
---
{% include page_header.html %}

<section id="opened-positions" class="pd-tb-90">
    <div class="container">
        <h2>{{ page.opened_positions_claim }}</h2>
        {% for opened_position in site.opened_positions %}
            <p>
                <h3>{{ opened_position.title }}</h3>
                <p>{{ opened_position.details }}</p>
            </p>
        {% endfor %}
        
        <h2 style="margin-top: 64px;">Application form</h2>
        <div class="contact-form-area">
            <form name="work-with-us" action="{{ site.form_action_url }}" data-netlify="true" method="post" class="contact-form">
                <div class="row">
                    <div class="col-12">
                        <label for="name">Name and surname (mandatory)</label>
                        <input id="name" name="full_name" type="text" class="validate" placeholder="John Doe" required/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <label for="email">Email (mandatory)</label>
                        <input id="email" name="user_email" type="email" class="validate" placeholder="Email" required/>
                    </div>
                    <div class="col-md-6">
                        <label for="phone">Telephone</label>
                        <input id="phone" name="phone-number" type="tel" class="validate" placeholder="Phone number"/>
                    </div>
                    <div class="col-12">
                        <label for="messege">Your message</label>
                        <textarea id="messege" name="message" class="bsm-textarea" cols="8" rows="40" placeholder="Write down here"></textarea>
                    </div>
                    <div class="col-12 mrt-30">
                        <button class="btn-contact" type="submit">Send</button>
                        <p class="input-success alert alert-success">We have received your email. We will get back to you as soon as possible</p>
                        <p class="input-error alert alert-danger">Sorry, due to an error the message was not sent.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</section>