<section class="policy-block bg-snow pd-t-90-b-30 w-100">
    <div class="container">
        <div class="policy-container policy-xs-slider item-4 row">
           {% for service in site.services %}
            <div class="col-lg-4">
              <div class="item py-5 shadow">
                {% if service.icon %}
                <div class="thumb-icon">
                    <i class="{{service.icon}}"></i>
                </div>
                {% endif %}
                <div class="policy-desc">
                    <h3 class="policy-title">{{service.title}}</h3>
                    <p class="policy-content px-3">{{service.excerpt | truncatewords: "15" | strip_html }}</p>
                    <a href="{{service.url}}" class="call-to-link-2 mt-4">Read More</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
