{% include sponsors_carousel.html %}

<footer class="site-footer">
    {% comment %} <div class="footer-top pd-tb-45 bg-bl-russian">
        <div class="container">
         {% include subscribe_form.html %}
        </div><!--  /.container -->
    </div><!--  /.footer-top --> {% endcomment %}
    <div class="footer-middle orange-theme">
        <div class="container">
            <div class="row">
                <div class="widget-area sidebar-footer-1 col-sm-6 col-md-3">
                    <div id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <p><img class="alignnone size-full wp-image-34" src="{{site.data.general.logo_url_2}}" alt="{{site.data.general.title}}" width="135" height="21" /></p>
                            <p>{{ site.data.general.motto }}</p>
                            <ul class="social-link">
                                {% if site.data.general.twitter_url != "" %}
                                 <li><a href="{{site.data.general.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if site.data.general.youtube_url != "" %}
                                 <li><a href="{{site.data.general.youtube_url}}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if site.data.general.instagram_url != "" %}
                                 <li><a href="{{site.data.general.instagram_url}}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if site.data.general.facebook_url != "" %}
                                 <li><a href="{{site.data.general.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if site.data.general.linkedin_url != "" %}
                                 <li><a href="{{site.data.general.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-area sidebar-footer-2 col-sm-6 col-md-3">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h2 class="widget-title">Useful links</h2>
                        <div class="menu-helpful-links-container">
                            <ul id="menu-helpful-links" class="menu">
                                {% assign useful_links = site.data.footer["useful_links"] %}
                                {% for useful_link in useful_links %}
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ useful_link.url }}">{{ useful_link.text }}</a></li>    
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-area sidebar-footer-3 col-sm-6 col-md-3">
                    <div id="nav_menu-3" class="widget widget_nav_menu">
                        <h2 class="widget-title">Support</h2>
                        <div class="menu-support-widget-menu-container">
                            <ul id="menu-support-widget-menu" class="menu">
                                {% assign support_links = site.data.footer["support_links"] %}
                                {% for support_link in support_links %}
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ support_link.url }}">{{ support_link.text }}</a></li>    
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-area sidebar-footer-4 col-sm-6 col-md-3">
                    <div id="custom_html-2" class="widget_text widget widget_custom_html">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="textwidget custom-html-widget">
                            <div class="widget-content">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i>{{ site.data.general.address }}</li>
                                    <li><a href="tel:{{ site.data.general.phone_number }}"><i class="fa fa-phone"></i>{{ site.data.general.phone_number }}</a></li>
                                    <li><a href="mailto:"><i class="fa fa-envelope"></i>{{ site.data.general.email }}</a></li>
                                    <li><i class="fa fa-address-card"></i>{{ site.data.general.company_name }}<br>PIVA: {{ site.data.general.vat_number }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  /.row -->
        </div>
        <!--  /.container -->
    </div>
    <!--  /.footer-middle -->

    <div class="footer-bottom orange-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright {{ 'now' | date: "%Y" }} <a href="#">{{ site.data.general.company_name }}</a> All rights Reserved.</p>
                </div>
                <!--  /.col-md-6 -->
                <div class="col-md-6">
                    <ul id="menu-footer-menu" class="footer-menu float-right">
                        <li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170"><a href="/privacy-policy">Privacy Policy</a></li>
                        {% comment %} <li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a href="#">Our Mission</a></li> {% endcomment %}
                        {% comment %} <li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a href="#">How to pay?</a></li> {% endcomment %}
                    </ul>
                </div>
                <!--  /.col-md-6 -->
            </div>
            <!--  /.row -->
        </div>
        <!--  /.container -->
    </div>
    <!--  /.footer-bottom -->
</footer>
