<!-- Footer
================================================== -->
<footer class="site-footer bg-bl-russian">
    <div class="footer-top pd-tb-45">
        <div class="container">
          {% include subscribe_form.html %}
        </div><!--  /.container -->
    </div><!--  /.footer-top -->

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-content">
                            <figure class="widget-thumb">
                                <img src="{{relative_url}}/assets/images/logo.png" alt="" />
                            </figure><!--  /.widget-thumb -->                           
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <br>
                            <ul class="social-link">
                                {% if site.data.general.twitter_url %}
                                 <li><a href="{{site.data.general.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if site.data.general.facebook_url %}
                                 <li><a href="{{site.data.general.facebook_url}}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if site.data.general.instagram_url %}
                                 <li><a href="{{site.data.general.instagram_url}}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if site.data.general.facebook_url %}
                                 <li><a href="{{site.data.general.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                            </ul><!--  /.social-link -->
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Helpful links</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ 1</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Phones</a></li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Support</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Me</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Packages</a></li>
                                <li><a href="#">Testimonial</a></li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-4">
                    <div class="widget">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="widget-content">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Vestibulum nulla libero, convallis vitae lacus ut, tincidunt suscipit diam, DC 20002</li>
                                <li><i class="fa fa-phone"></i>+1 230 456 789 - 012345</li>
                                <li><i class="fa fa-envelope"></i>exam@domain.com</li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
    </div><!--  /.footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2020 <a href="#">Litmus</a> All rights Reserved.</p>
                </div><!--  /.col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-menu float-right">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">How to Pay?</a></li>
                    </ul><!--  /.footer-menu -->
                </div><!--  /.col-md-6 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
    </div><!--  /.footer-bottom -->
</footer>
<!--  /.site-footer -->