<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">

  {% for slide in site.hero_slides %}
    <div class="slide slide-{{ forloop.index0 }} active">
        <div class="slide__bg" style="background-image:url({{ slide.bg_image }});"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" style="fill: {{ slide.bg_color }};" />
          </svg>
  <div class="slide__text" style="background-color: {{ slide.bg_color }};">
              <div class="d-flex flex-column justify-content-center h-100">
                  <h2 class="slide__text-heading" style="font-family: 'Open Sans Condensed', sans-serif; {% if slide.text_color %} color:{{ slide.text_color }} {% endif %}">{{ slide.header_text }}</h2>
                  <p class="slide__text-desc" style="font-family: 'Open Sans Condensed', sans-serif; {% if slide.text_color %} color:{{ slide.text_color }} {% endif %}">{{ slide.description }}</p>
                  <div>
                      <a href="{{ slide.learn_more_link_destination }}" class="slide__text-link" style="font-family: 'Open Sans Condensed', sans-serif;">Learn More</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
  {% endfor %}
</div>