<section class="page-header page-header bg-snow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="first-item">
                        <a href="/">Home</a>
                    </span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="last-item">{{page.title}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="section-title center-title no-border">{{page.title}}</h2>
            </div>
        </div>
    </div>
</section>