<section class="portfolio-block pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start mb-4">
                <h2 class="section-title">Projects</h2>
            </div>
            <div class="col-md-12 d-flex justify-content-start">
                <div class="float-right mb-fl-none">                    
                    {% include portfolio_categories_filter.html %}
                </div>
            </div>
        </div>
        <div class="row">
            {% include portfolio_grid.html %}
        </div>
    </div>
</section>