<ul class="portfolio-menu style-two">
    {% for category in site.project_categories %}
        <li><a href="#" class="call-to-link2" data-filter="{{ category.filter }}">{{ category.filter_friendly_name }}</a></li>    
    {% endfor %}
</ul>