<div class="col-md-12">
    <div class="row item-4 portfolio-grid">
        {% for portfolio in site.portfolios %}
        <div class="item col-sm-6 col-md-6 col-lg-4 {{ portfolio.filters | join: ' ' }}">
            <figure class="portfolio-thumb">
                <img class="img-fluid" src="{{portfolio.thumbnail}}" alt="{{portfolio.title}}"/>
                <div class="hover-content">
                    <div class="hover-details">      
                        <a href="{{portfolio.url}}" class="ajax-single-link">
                            <h5>{{portfolio.title}}</h5>
                            <span>- {{portfolio.subtitle}} -</span>
                        </a>
                    </div>
                </div>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>