
<section class="client-review overlay-bg pd-tb-90" style="background-image: url(/assets/images/bg/01.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="review-slider owl-carousel">

                    {% for testimonial in site.testimonials %}
                        <div class="item">
                            <div class="client-thumb">
                                <div class="hexagonal">
                                    <div class="hexagonal-img-container">
                                        <div class="hexagonal-img-hex">
                                            <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                                <div class="hexagonal-img-hex-in1">
                                                  <div class="hexagonal-img-hex-in2">
                                                    <img src="{{ testimonial.thumbnail }}" class="hexagonal-image" alt="{{ testimonial.thumbnail_alt_text }}"/>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-header text-center">
                                <h2 class="client-name">{{ testimonial.testimonial_name }}</h2>
                                <h5 class="client-deseg">{{ testimonial.testimonial_title }}</h5>
                            </div>
                            <div class="client-desc text-center">
                                <p><i class="fa fa-quote-left mr-2"></i> {{ testimonial.message }} <i class="fa fa-quote-right ml-2"></i></p>
                            </div>
                        </div>    
                    {% endfor %}

                    {% comment %} <div class="item">
                        <div class="client-thumb">
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                              <div class="hexagonal-img-hex-in2">
                                                <img src="{{relative_url}}/assets/images/client-1.jpg" class="hexagonal-image" alt="person-7"/>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-header text-center">
                            <h2 class="client-name">JHON RASEL</h2>
                            <h5 class="client-deseg">(CEO - Tortoiz)</h5>
                        </div>
                        <div class="client-desc text-center">
                            <p><i class="fa fa-quote-left mr-2"></i> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <i class="fa fa-quote-right ml-2"></i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-thumb">
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/client-2.jpg" class="hexagonal-image" alt="person-7"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-header text-center">
                            <h2 class="client-name">SHAIL</h2>
                            <h5 class="client-deseg">(CEO - ShailThemes)</h5>
                        </div>
                        <div class="client-desc text-center">
                            <p><i class="fa fa-quote-left mr-2"></i> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <i class="fa fa-quote-right ml-2"></i></p>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>     
</section>