   <script src="{{relative_url}}/assets/js/jquery-3.5.1.min.js"></script>
   <script src="{{ relative_url }}/assets/js/slider.js"></script>
   <script src="{{relative_url}}/assets/js/popper.min.js"></script>
   <script src="{{relative_url}}/assets/js/plugin.min.js"></script>
   <script src="{{relative_url}}/assets/js/isotope.pkgd.min.js"></script>
   <script src="{{relative_url}}/assets/js/jquery.hoverdir.js"></script>
   <script src="{{relative_url}}/assets/js/ajaxchimp.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
   <script src="{{relative_url}}/assets/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
   <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
   <script src="{{relative_url}}/assets/js/simple-jekyll-search.min.js"></script>
   <script src="{{relative_url}}/assets/js/custom.js"></script>
   <script src="{{relative_url}}/assets/js/litmus.min.js"></script>
</script>