
<!-- Hamburger Menu
================================================== -->
<div class="hamburger-block"> 
    <div class="overlaybg"></div>
    <div class="hamburger-block-container expand-block">
        <!-- Mobile Nav Close -->
        <div class="close-menu">
            <i class="pe-7s-close"></i>
        </div>
        
        <!-- Main Menu Mobile -->
        <div class="main-mobile-menu" id="mobile-main-menu"></div><!--  /.main-mobile-menu -->

        <!-- Hamburger Menu Wrapper -->
        <div class="hamburger-wrapper">
            <!-- Hamburger Menu Content -->
            <div class="hamburger-content">
                <ul class="hamburger-mainmenu">
                    
                </ul> <!-- /.menu-list -->
            </div> <!-- /.hours-content-->

            {% assign widget = site.data.sidebar_widget["info"] %}
            <!-- Hamburger Widget Area -->
            <div class="hamburger-widget-area">
                <div class="widget">
                    <h2 class="widget-title">{{ widget.title }}</h2>
                    <div class="widget-content">
                        <p>{{ widget.content }}</p>
                        <a href="{{ widget.cta_link }}" class="btn purchase-btn">{{ widget.cta }}</a>
                    </div><!--  /.widget-content -->
                </div><!--  /.widget -->
            </div><!--  /.hamburger-widget-area -->
        </div> <!-- /.menu-wrapper --> 
    </div><!-- /.site-navigation -->
</div>
<!--  /.hamburger-block -->