<div class="skill-progress">

{% for skill in site.skills %}
    <div class="skill-bar" data-percentage="{{ skill.percentage }}%">
        <h4 class="progress-title-holder">
            <span class="progress-title">{{ skill.skill_name }}</span>
            <span class="progress-wrapper">
                <span class="progress-mark">
                    <span class="percent"></span>
                </span>
            </span>
        </h4>
        <div class="progress-outter">
            <div class="progress-content"></div>
        </div>
    </div><!-- /.skill-bar -->
{% endfor %}
</div>