    <!-- Our Skill Block
    ================================================== -->
    <section class="our-skill pd-b-90 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="section-title">Our Skill</h2>
                    <p class="section-subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p><!--  /.section-subtitle -->

                    {% include skills_progress.html %}
                </div><!--  /.col-lg-6 -->

                <div class="col-lg-6 d-none d-lg-block d-xl-block">
                    <div class="hexa-grid">    
                    
                    {% for skill_img in page.skill_images %}
                    <div class="hexagonal hexa-item {% if forloop.index0 == 1 %}hexa-middle{% endif %}">
                            <div class="hexagonal-img-container">
                                <div class="hexagonal-img-hex">
                                    <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                        <div class="hexagonal-img-hex-in1">
                                            <div class="hexagonal-img-hex-in2">
                                                <img src="{{ skill_img }}" class="hexagonal-image" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.hexagonal -->
                    {% endfor %} 
                    </div><!--  /.hexa-grid -->
                </div><!--  /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- /.our-skill -->