<!-- Slider Block
================================================== -->
<div class="slider-block slider-one">
    <div class="rev_slider_wrapper">
        <div class="rev_slider litmus-slider" data-version="5.4.5.1">
            <ul>
                <!-- slide 1 --> 
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="materialize Material" data-description="">

                    <!-- main image -->
                    <img src="{{relative_url}}/assets/images/transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgcolor="#0d1422" data-no-retina>

                    <!-- layer no 1 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-155','-165','-120','0']" 
                        data-y="['middle']" data-voffset="['-150','-150','-75','-120']"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 5; color: #037da6; font-weight: 600; font-family: inherit; font-size: ">2020
                    </div>

                    <!-- layer no 2 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-276','-276','-178','0']" 
                        data-y="['middle']" data-voffset="['-75','-75','-38','-60']"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1350,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; text-align: right; font-weight: 200; text-transform: uppercase; font-family: 'Montserrat', sans-serif;">Creative
                    </div>

                    <!-- layer no 3 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-235','-235','-160','0']" 
                        data-y="['middle']" data-voffset="['0','0','0','0']"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1550,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; font-weight: 600; text-transform: uppercase; color: #ffffff; font-family: 'Montserrat', sans-serif;">Design
                    </div>

                    <!-- layer no 4 -->
                    <div class="tp-caption tp-resizeme"
                        data-x="['center','center','center','center']" data-hoffset="['-155','-149','-160','0']" 
                        data-y="['middle']" data-voffset="['105','105','75','75']"
                        data-fontsize="['14']"
                        data-lineheight="['45']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-transform_idle="o:1;"
                        data-style_hover="cursor:default;"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; font-weight: 500; font-family: inherit; color: #fff;">
                        <a href="#" class="button slider-btn-round" data-fontsize="['16']">View Now</a>
                    </div>

                    <!-- layer no 5 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['center','center','center','center']" data-voffset="['-40','-40','0','0']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="off"
                        data-width="none"
                        data-height="none" data-no-retina>
                            <div class="horizontal-border"></div>
                    </div>

                    <!-- layer no 6 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['280','280','160','0']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['45','45','15','15']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="on"
                        data-width="none"
                        data-height="none">
                            <i class="pe-7s-rocket" data-fontsize="['600','600','420','420']" style="z-index: 998; color: rgba(221, 221, 221, 0.02); "></i>
                    </div>

                    <!-- layer no 7 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['275','275','160','0']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['60','60','15','15']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="on"
                        data-width="none"
                        data-height="none">
                            <i class="pe-7s-rocket" data-fontsize="['420','420','350','350']" style="z-index: 999; color: #037da6; text-shadow: 10px 15px 5px rgba(0,0,0,0.10);"></i>
                    </div>
                </li><!-- /.slide 1 -->

                <!-- slide 2 --> 
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="materialize Material" data-description="">

                    <!-- main image -->
                    <img src="{{relative_url}}/assets/images/transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgcolor="#0d1422" data-no-retina>

                    <!-- layer no 1 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-155','-165','-120','0']" 
                        data-y="['middle']" data-voffset="['-150','-150','-75','-120']"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 5; color: #037da6; font-weight: 600; font-family: inherit; font-size: ">2020
                    </div>

                    <!-- layer no 2 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-298','-298','-178','0']" 
                        data-y="['middle']" data-voffset="['-75','-75','-38','-60']"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1350,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; text-align: right; font-weight: 200; text-transform: uppercase; font-family: 'Montserrat', sans-serif;">Awesome
                    </div>

                    <!-- layer no 3 -->
                    <div class="tp-caption tp-resizeme"
                        data-type="text" 
                        data-x="['center','center','center','center']" data-hoffset="['-235','-235','-160','0']" 
                        data-y="['middle']" data-voffset="['0','0','0','0']"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                        data-fontsize="['90','90','45','60']"
                        data-lineheight="['90','90','45','60']"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1550,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; font-weight: 600; text-transform: uppercase; color: #ffffff; font-family: 'Montserrat', sans-serif;">Design
                    </div>

                    <!-- layer no 4 -->
                    <div class="tp-caption tp-resizeme"
                        data-x="['center','center','center','center']" data-hoffset="['-155','-149','-160','0']" 
                        data-y="['middle']" data-voffset="['105','105','75','75']"
                        data-fontsize="['14']"
                        data-lineheight="['45']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button" 
                        data-transform_idle="o:1;"
                        data-style_hover="cursor:default;"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"
                        style="z-index: 7; font-weight: 500; font-family: inherit; color: #fff;">
                        <a href="#" class="button slider-btn-round" data-fontsize="['16']">View Now</a>
                    </div>

                    <!-- layer no 5 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['center','center','center','center']" data-voffset="['-40','-40','0','0']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="off"
                        data-width="none"
                        data-height="none" data-no-retina>
                            <div class="horizontal-border"></div>
                    </div>

                    <!-- layer no 6 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['280','280','160','0']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['45','45','15','15']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="on"
                        data-width="none"
                        data-height="none">
                            <i class="pe-7s-rocket" data-fontsize="['600','600','420','420']" style="z-index: 998; color: rgba(221, 221, 221, 0.02); "></i>
                    </div>

                    <!-- layer no 7 -->
                    <div class="tp-caption tp-resizeme"
                        data-visibility="['on','on','on','off']"
                        data-x="['center','center','center','center']" data-hoffset="['275','275','160','0']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['60','60','15','15']"
                        data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeOut"},{"delay":"wait","speed":2000,"to":"opacity:0;","ease":"nothing"}]'
                        data-splitin="none"
                        data-type="image"
                        data-responsive_offset="on"
                        data-width="none"
                        data-height="none">
                            <i class="pe-7s-rocket" data-fontsize="['420','420','350','350']" style="z-index: 999; color: #037da6; text-shadow: 10px 15px 5px rgba(0,0,0,0.10);"></i>
                    </div>
                </li><!-- /.slide 2 -->
            </ul>             
        </div><!-- /.revolution slider -->
    </div><!-- /.slider wrapper -->
</div>
<!--  /.slider-block -->