<!-- Company with us Block
================================================== --> 
<div class="company-with-us pd-tb-45 border-top">
    <div class="container">        
        <div class="company-slider owl-carousel">

        {% for company in site.companion_companies %}
            <div class="item">
                <a href="{{ company.link }}">
                    <img src="{{ company.logo }}" alt="{{ company.name }}" />
                </a>
            </div><!--  /.item -->
        {% endfor %}

            {% comment %} <div class="item">
                <a href="#">
                    <img src="{{relative_url}}/assets/images/company/1.jpg" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="item">
                <a href="#">
                    <img src="{{relative_url}}/assets/images/company/2.jpg" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="item">
                <a href="#">
                    <img src="{{relative_url}}/assets/images/company/3.jpg" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="item">
                <a href="#">
                    <img src="{{relative_url}}/assets/images/company/4.jpg" alt="company logo" />
                </a>
            </div><!--  /.item -->                
            <div class="item">
                <a href="#">
                    <img src="{{relative_url}}/assets/images/company/5.jpg" alt="company logo" />
                </a>
            </div><!--  /.item --> {% endcomment %}
        </div><!--  /.row -->
    </div><!--  /.container -->
</div>
<!--  /.company-with-us -->