---
layout: white_default
---

{% include page_header.html %}

<section class="portfolio-details-block pd-t-60-b-90">
    <div class="container">
        <div class="row">
        	{% if page.thumbnail %}
            <div class="col-md-5">
                <figure class="portfolio-thumb">
                    <img class="img-fluid" src="{{page.thumbnail}}" alt="{{page.title}}"/>
                </figure>
            </div>
            {% endif %}
            <div class="col-md-7">
               {{ content }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pd-tb-15"></div>
        {% include related_portfolios.html %}
    </div>
</section>