---
layout: page_2
---
<div class="portfolio-header">
    <h2 class="portfolio-title">{{page.title}}</h2>
    <div class="portfolio-meta">
        <div class="portfolio-cat">
            <a href="#">{{page.subtitle}}</a>
        </div>
        <div class="portfolio-other">
            <span class="time-period">{{ page.date | date_to_string }}</span>
        </div>
    </div>
</div>

<div class="portfolio-details">
    <p>
        {{ page.short_description }}
    </p>
    <table class="project-details mb-4">
        {% if page.customer %}
        <tr>
            <th class="p-3">Cliente:</th>
            <td>{{ page.customer }}</td>
        </tr>    
        {% endif %}
        {% if page.external_url %}
        <tr>
            <th class="p-3">Ulteriori dettagli:</th>
            <td><a href="{{ page.external_url }}">{{ page.external_url }}</a></td>
        </tr>    
        {% endif %}
        {% if page.filters %}
        <tr>
            <th class="p-3">Categorie:</th>
            <td>{{ page.filters | join: ', ' }}</td>
        </tr>    
        {% endif %}
        {% if page.skills %}
        <tr>
            <th class="p-3">Skills:</th>
            <td>{{ page.skills | join: ', '  }}</td>
        </tr>    
        {% endif %}
        {% if page.languages %}
        <tr>
            <th class="p-3">Linguaggi:</th>
            <td>{{ page.languages | join: ', '  }}</td>
        </tr>    
        {% endif %}
        {% if page.ides %}
        <tr>
            <th class="p-3">Ambienti di sviluppo:</th>
            <td>{{ page.ides | join: ', '  }}</td>
        </tr>    
        {% endif %}
        {% if page.brands %}
        <tr>
            <th class="p-3">Brands strumentazioni:</th>
            <td>{{ page.brands | join: ', '  }}</td>
        </tr>    
        {% endif %}
        
    </table>

    {{ content }}
</div>